body {
    font-family: 'Merriweather Sans', sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: $dark-gray;
    color: $light-gray;
}

a {
    text-decoration: none;
    transition: color 200ms ease-in-out
}

label {
  margin-top: 10px;
  font-weight: bold;
}

svg {
  fill: white;
}

.Background {
  background: gray;
  width: 50px;
  border-radius: 50%;
}

ul {
  list-style: none;
}

input[type="file"] {
  position: absolute;
  left: -9999rem;
}

.errormsg {
  font-weight: bold;
  color: red;
  text-align: center;
}

.successmsg {
  font-weight: bold;
  color: rgb(105, 224, 145);
  text-align: center;
  margin-top: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $light-gray; 
}


::-webkit-scrollbar-thumb {
  background: #888; 
}


::-webkit-scrollbar-thumb:hover {
  background: #555; 
}