.message-container {
    background-color: darken($dark-gray, 2%);
    padding: 25px 0 0;
    margin: 25px;
    border-radius: 10px;
}

.message-user-message {
    margin-left: 20px;
}

.message-title-header {
    margin-left: 20px;
}

.message-title-header--text {
    margin: 0;
    justify-content: flex-start;
    align-items: center;
}

.message-window {
    padding: 40px 0 0; 
    height: 60vh;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
}

.message-img {
    width: 50px;
    height: 50px;
}

.message-user-text {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: lighten($dark-gray, 5%);
    border-radius: 20px;
    word-break: break-all;
}

.message-date {
    font-size: 12px;
    color: gray;
}

.foreign-message {
    margin-right: 20px;
}

.foreign-user {
    justify-content: flex-end;
}

.foreign-text {
    background-color: darken($dark-gray, 5%);
}

.message-form { 
    background-color: darken($dark-gray, 5%);
    align-items: center;
    border-radius: 20px;
}

.message-textarea {
    resize: none;
    width: 100%;
    background-color: darken($dark-gray, 5%);
    color: $light-gray;
    padding: 15px;
    height: 100px;
    border: 0;
    border-radius: 20px;
}

.message-textarea:hover, 
.message-textarea:active, 
.message-textarea:focus {
    outline: 0px !important;
    -webkit-appearance: none;
}

.message-btn-send {
    font-size: 24px;
    padding: 40px 20px;
    height: 100%;
    background-color: transparent;
    border: 0;
    border-left: 1px solid black;
}