.profile-banner {
    padding: 60px;
    max-height: 270px;
    text-align: center;
    position: relative;
    color: white;
  }
  
  .profile-info {
    text-shadow: 2px 2px 2px black;
  }
  
  .profile-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }