.profile-banner {
    padding: 60px;
    text-align: center;
    position: relative;
    color: white;
  }

  .banner-button {
    position: absolute;
    background-color: transparent;
    border: 0;
    top: 5px;
    right: 5px;
    font-size: 18px;
  }

  .banner-button-message {
      right: 110px;
  }

  .message-btn {
    background-color: $green;
  }

  .follow-btn {
    background-color: $blue;
  }
  
  .profile-info {
    text-shadow: 2px 2px 2px black;
  }
  
  .profile-icon {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .profile-description {
    word-break: break-all;
  }


  .profile-links {
    align-items: center;
    background-color: darken($dark-gray, 5%);
  }

  .profile-links--list {
    font-size: 16px;
    margin: 0;
  }