.users {
    text-align: center;
}
  
.users-container {
    margin: 10px;
}
  
.users-table {
    width: 100%;
    border-collapse: collapse;
}
  
td, th {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}