.users {
    text-align: center;
}

.user-icon {
    max-width: 40px;
    max-height: 40px;
}
  
.users-container {
    margin: 10px 0;
}
  
.users-table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    background: darken($dark-gray, 5%);
}

tr:nth-child(2n) {
    background: $dark-gray;
}
  
td, th {
    padding: 10px 0;
}